extends layout

block content
  script(type="text/template" data-template="card-template").
    <div class="card" id="card-<%=time%>" onclick="$(this).Play('<%=time%>');">
        <img id="img-<%=time%>" src="<%=images[time].dataUri%>" style="width:250px; height:160px"/>
          <div class="card-close" style="position:absolute; top:0px; right:-15px; width:24px; height:24px;" onclick="$(this).Remove('<%=time%>');">&#10006</div>"
          <div style="position:absolute; bottom:20px; left:110px;" class="play"> 
            <img src="assets/images/play.svg" style="width:48px; height:48px;"/>
          </div>
        <label style="font-size:8px; position:absolute; bottom:-50px; left:0px; width:250px; color:white; text-overflow: ellipsis;background-color:rgba(0, 0, 0, 0.1);">
          &nbsp;<%=time%>
        </label>
    </div>
    
  div.main(style="position: absolute; top:0px; bottom:0px; left:0px; right:0px; background-color: black; overflow: hidden;")
    audio#camera-click(src="assets/sounds/camera-click.mp3" type="audio/mpeg")
    img(src="assets/images/film-reel.svg" style="position:absolute; left:8px; top:2px; width:54px; height:54px;" alt="Electron Viz")
    h1(style="position:absolute; left:80px; top:10px; color:#ffffff") Video Viz
    h4#filename(style="position:absolute; left:240px; top:0px; color:#ffffff; white-space: nowrap; width:500px; overflow: hidden; text-overflow: ellipsis;")

    div#toolbar
      div.layout        
        div(style="position: absolute; right:5px; top:-15px; padding-left:5px;")
          button.button#loadArchive
            img(src="assets/images/archive.svg" style="padding-top:8px; width:12px; height:12px; top:6px; text-align:center; margin-left:1px;" alt="Upload Archive")
          button.button#uploadVideo
            img(src="assets/images/film.svg" style="padding-top:8px; width:12px; height:12px; top:6px; text-align:center; margin-left:1px;" alt="Upload Video")
          button.button#saveArchive
             img(src="assets/images/archive-save.svg" style="padding-top:8px; width:12px; height:12px; top:6px; text-align:center; margin-left:1px;" alt="Save Archive")
          button.button#menu
            img(src="assets/images/menu.svg" style="padding-top:8px; width:12px; height:12px; top:10px; text-align:center; margin-left:1px;" alt="Menu")
      div#dropdown.dropdown-content
        a#clear(href="") Clear Images

  div(style="position: absolute; overflow: none; top:8px; bottom: 20px; left: 10px; right: 10px; margin-top:50px; background-color:rgba(255, 255, 255, 0.08); padding-top:10px; overflow: hidden;")
    div#display(style='overflow:none; position:absolute; left:0px; right:0px; bottom: 220px; top: 0px; border:2px solid white; background: url("assets/images/video-player.png") no-repeat center center;')
       div#videoContainer(style='position:absolute; top:10px; bottom:10px; left:10px; right:10px; text-align:center;')
        video#vid1(class="video-js vjs-default-skin vjs-big-play-centered" style='position:absolute; width:100%; height:100%; margin-left: auto; margin-right: auto;')
    div(style="position:absolute; bottom:0px;")
      div(style="left:10px; width:100px;")
        div#shotarea(style="left:10px; width:200px; height:200px")
          div#shotareainner
            p
            p
            picture
            img#camera(src='assets/images/camera.svg' style='margin-top:20px; width:64px; height:64px') 
            p
            p.shotfiletext Click To Take Photo
            p
            input.photobtn#photobtn(type='button' value="Take Photo" disabled)  
    div#navigator(style="position:absolute; left:220px; bottom:0px; height:190px; right:0px; border:2px solid white; padding:5px; background-color:rgba(255, 255, 255, 0.3);")
      div.image-container#image-container(style="position:absolute; left:5px; right:5px; top:5px; bottom:0px; margin-bottom:3px;")

  div#waitDialog(class="modal-blocker" style="display:none; z-index:100; position:fixed; width:100%; height:100%; padding:0px;")
    div#uploadIndicator(style="position: relative; top:35%; height:90px; width:90px; margin:auto; z-index: 1000;")
      div#uploadProgress(class="c100 p0 big grey")
        span#percentage 0%
        div.slice
          div.bar
            div.fill      
    div#messageStatus(style="position: relative; color:white; z-index: 1000; top: 50%; text-align: center;")
      label#messageLabel Processing 
  
  script(src="node_modules/ejs/ejs.min.js")
  script(src="node_modules/jquery/dist/jquery.min.js")
  script(src="node_modules/video.js/dist/video.min.js")
  script(src="node_modules/jszip/dist/jszip.min.js")
  script(src="assets/javascripts/utils/fileutil.js")
  script(src="assets/javascripts/utils/videoutil.js")
  script(src="assets/javascripts/responder.js")