.card {
    width: 237px;
    height: 122px;
    font-size: 10px;
    margin: 10px;
    color: rgba(0, 0, 0, 1.0);
    position: relative;
}

.card-main {
    position: absolute;
    width: 160px;
    height: 70px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    font-size: 10px;
    margin: 5px;
    color: rgba(0, 0, 0, 1.0);
    padding: 5px;
}

.card-close {
    color:#aaa;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.card-close:hover {
    color:white;
    cursor: pointer;
}